<h1>紹介ページ投稿</h1>

<%#= form_with url: posts_path, local: true do |f| %>
<%= form_with model: @post_form, url: posts_path, method: :post, id: 'new_post', local: true do |f| %>
メイン動画<br>
<%= f.text_field :movie_main, class:"price-input", id:"item-price", placeholder:"例）300" %>
<%= f.text_field :movie_main_thumbnail, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
メイン動画タグ(任意)<br>
<%#= f.text_field :movie_tag_name, class:"price-input", id:"item-price", placeholder:"例）300" %>
<%#= f.text_field :movie_tag_name, class:"price-input", id:"item-price", placeholder:"例）300" %>
<%#= f.text_field :movie_tag_name, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
サブ動画1(任意)<br>
<%= f.text_field :movie_left, class:"price-input", id:"item-price", placeholder:"例）300" %>
<%= f.text_field :movie_left_thumbnail, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
サブ動画2(任意)<br>
<%= f.text_field :movie_right, class:"price-input", id:"item-price", placeholder:"例）300" %>
<%= f.text_field :movie_right_thumbnail, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
VTuberイラスト(任意)<br>
<%= f.file_field :talent_image, id:"talent-image" %><br>
名前<br>
<%= f.text_field :talent_name, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
所属事務所(任意)<br>
<%= f.text_field :talent_belongs, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
公式チャンネル(任意)<br>
<%= f.text_field :talent_channel, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
公式X(任意)<br>
<%= f.text_field :talent_x, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
公式ホームページ(任意)<br>
<%= f.text_field :talent_hp, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
投稿者からのコメント(任意)<br>
<%= f.text_field :message, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
VTuberタグ(任意)<br>
<%#= f.text_field :talent_tag_name, class:"price-input", id:"item-price", placeholder:"例）300" %>
<%#= f.text_field :talent_tag_name, class:"price-input", id:"item-price", placeholder:"例）300" %>
<%#= f.text_field :talent_tag_name, class:"price-input", id:"item-price", placeholder:"例）300" %><br>


<div class="sell-btn-contents">
  <%= f.submit "投稿する" ,class:"post-btn" %>
  <%=link_to 'もどる', root_path, class:"back-btn" %>
</div>
<% end %>